@using Blog.Models
@using Blog.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel

@{
    ViewBag.Title = "A Blog by Me";
    ViewBag.Description = "A blog website made by a newbie to explain and understand algorithms";
    ViewBag.Keywords = "blog programming algorithms design patterns";
    var base_path = Context.Request.PathBase;
}

<div class="main-img">
    <span class="title">My Blog</span>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
        <input type="hidden" name="category" value="@Model.Category" />
        <input class="search" type="text" name="search" placeholder="Search Blog" value="@Model.Search" />
        <button class="submit-btn">Search</button>
    </form>
</div>

<div class="container">

<partial name="_BlogPagination" model="Model" />

    @foreach (var post in Model.Posts)
    {
        var image_path = $"{base_path}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" />
            <span class="title">
                @post.Title
            </span>
        </a>
    }
    <partial name="_BlogPagination" model="Model" />
</div>