@using Blog.Models
@using My3rdBlog.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Post

@{

    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags.Replace(",", "")} {Model.Category}";
    var base_path = Context.Request.PathBase;
}


<div class="container">

    <div class="post-title">
        @Model.Title
    </div>
    <div class="post-body">
        @Model.Body
    </div>


    @if (User.Identity.IsAuthenticated)
    {
        <div class="comment-section">
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
            }

            @foreach (var c in Model.MainComments)
            {
                <div class="user-comment">
                    <p>
                        @c.Message --- @c.Created
                    </p>
                </div>

                
                <div style="margin-left: 20px;">
                    <h4>Sub Comments</h4>
                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id });
                    }

                    @foreach (var sc in c.subComments)
                    {
                        <p>
                            @sc.Message --- @sc.Created
                        </p>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="form-horizontal">
            <a class="btn signin" asp-action="Login" asp-controller="Auth">Sign In</a> You should sign in to comment on this post
        </div>
    }
</div>

@section scripts{
    }   